.text-center {
    > .sec--title-wrapper {
        align-items: center;

        .sec--sub-title {
            text-align: center;
        }
        .sec--main-title {
            text-align: center;
        }
    }
}

.sec-desc {
    font-size: clamp(0.1vw, 0.9vw, 1.08rem);
    font-weight: 400;
    line-height: 1.6;
    max-width: clamp(200px, 35vw, 672px);
    margin-bottom: 0;

    // @media screen and (max-width: 1280px) {
    //     font-size: 0.9rem;
    // }
    // @media screen and (max-width: 767px) {
    //     font-size: 0.85rem;
    // }
}

.sec--title-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: clamp(0.4rem, 3.25vw, 3.9rem);
    gap: 0.3em;
    line-height: normal;

    .sec--sub-title {
        position: relative;
        display: inline-block;
        font-size: 0.28em;
        letter-spacing: -0.01em;
        font-weight: 400;
        color: rgb(26, 26, 26);
        text-transform: uppercase;
        margin-bottom: 0 !important;
        max-width: fit-content;
        padding-left: 1em;

        &::before {
            position: absolute;
            content: "\f111";
            font-family: "Font Awesome 6 Pro";
            font-size: 0.4em;
            top: 50%;
            left: 0.5em;
            font-weight: 900;
            transform: translateY(-50%);
            color: var(--color-primary);
        }
    }

    .sec--main-title {
        display: inline-block;
        font-size: 1.2em;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.04em;
        margin-bottom: 0;
        color: rgb(36, 36, 36);

        .line {
            line-height: 1;
        }
    }

    // @media screen and (max-width: 1360px) {
    //     font-size: 2.5rem;
    // }
}

.page-text-content {
    .left-side {
        padding-right: 40px;
    }
    .right-side {
        padding-left: 40px;
    }

    .title-text {
        font-size: 2.3rem;
        margin-bottom: 0.5em;
        line-height: 1.25em;
        font-weight: 700;
        color: #f5f5f5;

        &.style-2 {
            line-height: 1.2em;
            font-size: 2.6rem;
            font-weight: 700;
        }

        .colored-2 {
            color: var(--theme-color-one);
        }

        .colored {
            color: var(--theme-color-one);
        }
    }

    p {
        font-size: 1rem;
        line-height: 1.6em;
        font-weight: 300;
        color: #acacac;
        text-align: justify;

        .colored {
            color: var(--theme-color-one);
            font-weight: 500;
        }

        b.colored,
        strong.colored {
            font-weight: 500;
        }

        b,
        strong {
            color: #e9e9e9;
        }

        a {
            color: var(--theme-color-one);
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.heading-para {
            font-size: 1.4rem;
            line-height: 1.6;
            text-align: left;
            font-weight: 400;
            color: rgb(223, 223, 223);
        }

        &.heading-para-2 {
            font-size: 1.2rem;
            line-height: 1.6;
            text-align: left;
            font-weight: 500;
        }

        &.heading-para-3 {
            font-size: 1.1rem;
            line-height: 1.7;
            text-align: left;
            font-weight: 500;
        }
    }

    ul {
        padding-left: 30px;
        list-style: inherit;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        li {
            position: relative;
            font-size: 1rem;

            &::marker {
                color: var(--theme-color-one);
            }
        }
    }

    .img-wrapper,
    .image-wrapper {
        position: relative;
        width: 100%;
        overflow: hidden;
        // border-radius: 14px;

        img {
            height: 100%;
            min-height: 420px;
            aspect-ratio: 3/2.25;
            object-fit: cover;
            object-position: center;
        }
    }

    @media screen and (max-width: 1360px) {
        .title-text {
            font-size: 1.8rem;

            &.style-2 {
                font-size: 1.4rem;
            }
        }

        p {
            font-size: 0.9rem;

            &.heading-para {
                font-size: 1.15rem;
            }

            &.heading-para-2 {
                font-size: 1rem;
            }

            &.heading-para-3 {
                font-size: 1rem;
            }
        }
    }

    @media screen and (max-width: 991px) {
        gap: 30px;

        .title-text {
            font-size: 1.6rem;

            &.style-2 {
                margin-bottom: 1.5em;
                font-size: 1.4rem;
            }
        }

        p {
            font-size: 0.95rem;

            &.heading-para {
                font-size: 1.1rem;
            }

            &.heading-para-2 {
                font-size: 0.9rem;
            }

            &.heading-para-3 {
                font-size: 0.9rem;
            }
        }

        .left-side {
            padding-right: 12px;
        }

        .right-side {
            padding-left: 12px;
        }
    }

    @media screen and (max-width: 575px) {
        .title-text {
            font-size: 1.4rem;

            br {
                display: none;
            }
        }

        p {
            font-size: 0.88rem;

            &.heading-para {
                font-size: 0.95rem;
            }

            &.heading-para-3 {
                font-size: 0.8rem;
            }
        }

        .left-side {
            padding-right: 12px;
        }

        .img-wrapper,
        .image-wrapper {
            // border-radius: 12px;
            img {
                min-height: 240px;
            }
        }
    }
}

.section-border-top,
.section-border-bottom {
    &::after {
        position: absolute;
        content: "";
        width: calc(100% - var(--content-padding-x) * 2 - 24px);
        opacity: 0.9;
        background: #0000004f;
        max-width: var(--page-max-width);
        height: 1px;
        left: 50%;
        transform: translate(-50%);
        z-index: 2;
    }
}

.section-border-top {
    &::after {
        top: 0;
    }
}
.section-border-bottom {
    &::after {
        bottom: 0;
    }
}

.hero-sec {
    position: relative;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    isolation: isolate;
    background-color: #05080e;

    .hero-media-wrapper {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 0;

        .parallax-container,
        .parallax-wrapper {
            width: 100%;
            height: 100%;
        }
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            filter: saturate(0.85) brightness(0.75);
        }
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }
    }

    .container {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .title-text {
        font-size: 6vw;
        font-weight: 400;
        line-height: 1.05;
        margin-bottom: 0;
        color: #ffffff;
        // font-family: var(--primary-font);
    }
}

.about-us-sec {
    background: white;

    .content-wrapper {
        display: flex;
        align-items: flex-start;
        gap: 2vw;
    }

    .image-box {
        position: relative;
        max-width: 20vw;
        aspect-ratio: 1/1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .text-wrapper {
        position: relative;
        margin-left: auto;
        max-width: 60vw;
        padding-top: 4vw;

        .title-text{
            font-size: 2vw;
            font-weight: 400;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.384);
            margin-bottom: 1em;
        }

        p {
            font-size: 1.6vw;
            color: rgba(0, 0, 0, 0.85);
            line-height: 1.4;
            font-weight: 400;
            
            b {
                font-weight: 700;
                color: rgb(0, 0, 0);
            }
        }

        .standard-btn{
            margin-top: 3vw;
        }

        .image-box{
            margin-left: auto;
            aspect-ratio: 3/2;
            margin-top: -4vw;
        }
    }
}
